name: CI-CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  TF_WORKING_DIR: infra/terraform
  GHCR_REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GHCR_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push order-producer image
        uses: docker/build-push-action@v6
        with:
          context: ./producer
          push: true
          tags: |
            ${{ env.GHCR_REGISTRY }}/${{ github.repository }}/order-producer:latest

      - name: Build & push fraud-service image
        uses: docker/build-push-action@v6
        with:
          context: ./consumers/fraud-service
          push: true
          tags: |
            ${{ env.GHCR_REGISTRY }}/${{ github.repository }}/fraud-service:latest

      - name: Build & push payment-service image
        uses: docker/build-push-action@v6
        with:
          context: ./consumers/payment-service
          push: true
          tags: |
            ${{ env.GHCR_REGISTRY }}/${{ github.repository }}/payment-service:latest

      - name: Build & push analytics-service image
        uses: docker/build-push-action@v6
        with:
          context: ./consumers/analytics-service
          push: true
          tags: |
            ${{ env.GHCR_REGISTRY }}/${{ github.repository }}/analytics-service:latest

  terraform:
    needs: build-and-push
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    defaults:
      run:
        working-directory: ${{ env.TF_WORKING_DIR }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      # Пока не включаем apply, чтобы не тратить деньги случайно
      # - name: Terraform Apply
      #   if: github.ref == 'refs/heads/main'
      #   run: terraform apply -auto-approve tfplan

